.success {
    color: green;
}

.failure {
    color: red;
}

tr.project {
    border-spacing: 0px;
}

tr.project:nth-child(2n+1) {
    background-color: #f9f9f9;
}

td {
    padding: 10px 10px 10px 10px;
    border-top-color: #ddd;
    border-top-width: 1px;
    border-top-style: solid;
}

table {
    text-align: middle;
    border-collapse: collapse;
    background-color: transparent;
}

#projectsStub {
    background-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 0 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
    

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
}

h1, p {
    font-family: Verdana,Geneva,sans-serif;
}