<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Lana CI Server</title>
    <style>
      .success {
        color: green;
      }

      .failure {
        color: red;
      }

      .odd-row {
        background-color: blue;
      }

      .even-row {
        background-color: red;
      }
    </style>
  </head>
  <body>
    <h1>Projects</h1>
    <table id="projects">
      <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Output</th>
        </tr>
      </thead>
      <% projects.forEach(function(project, index) { %>
        <% if (index%2 === 0) { %>
          <tr class="project even-row">
        <% } else { %>
          <tr class="project odd-row">
        <% } %>
            <td class="status">
              <% if (project.complete) { %>
                <p class="success">✓</p>
              <% } else { %>
                <p class="failure">✕</p>
              <% } %>
            </td>
            <td class="name">
              <p class="name"><%= project.name %></p>
            </td>
            <td class="output">
              <% if (project.complete) { %>
                <p>Build & Deploy Succeeded</p>
              <% } else { %>
                <p><%= project.output %></p>
              <% } %>
            </td>
          </tr>
      <% } %>
    </table>
  </body>
</html>
