{
  "bitbucket": {
    "/repo/path/": {
        "branch": {
            "dir": "/local/path"
          , "test": true
        }
      , "other_branch": {
            "dir": "/other/branch/dir"
          , "test": false
        }
    }
  }
}